<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <meta charset="UTF-8" />
        <title>account</title>
    </head>
    <body>

        <h1><span th:text="${account.name}">name</span></h1>



        <h2>Taidot</h2>

        <ul>
            <li th:each="skill : ${account.skills}">
                <p><span th:text="${skill.skill}">skill</span>, <span th:text="${skill.likes}">skill</span> tykkäystä</p>
                <form method="POST" th:action="@{/accounts/{id}/skills/{skillId}(id=${account.id}, skillId=${skill.id})}">
                    <input type="submit" value="Tykkää!"/>
                </form>
            </li>
        </ul>



        <p>
            <a th:href="@{/accounts}">Henkilölista</a>
        </p>

        <p>
            <a th:href="@{/messages}">Chatti</a>
        </p>

        <p>
            <a th:href="@{/}">Oma sivu</a>
        </p>




    </body>
</html>
