<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <meta charset="UTF-8" />
        <title>Tervetuloa</title>
    </head>
    <body>

        <div sec:authorize="!isAuthenticated()">
            <h1>Tervetuloa!</h1>

            <p>
                <a th:href="@{/login}">Kirjaudu sisään</a>
            </p>

            <p>
                <a th:href="@{/register}">Rekisteröidy</a>
            </p>

        </div>

        <div sec:authorize="isAuthenticated()">
            <h1>Tervetuloa  <span th:text="${account.username}">username</span>, <span th:text="${account.name}">name</span>!</h1>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Kirjaudu ulos"></input>
            </form>


            <h2>Taidot</h2>

            <ul>
                <li th:each="skill : ${account.skills}">
                    <p><span th:text="${skill.skill}">skill</span>, <span th:text="${skill.likes}">skill</span> tykkäystä</p>
                </li>
            </ul>

            <form th:action="@{/skills}" method="POST">
                <input name="name"></input>
                <input type="submit" value="Lisää taito!"></input>
            </form>

            <h2>Odottavat yhteydet</h2>

            <ul>
                <li th:each="connection : ${unacceptedConnectionsTo}">
                    <a th:href="@{/accounts/{id}(id=${connection.connecter.id})}">
                        <span th:text="${connection.connecter.name}">name</span>
                    </a>
                    <form method="POST" th:action="@{/connections/{id}(id=${connection.id})}">
                        <input type="submit" value="Hyväksy yhteys!"/>
                    </form>
                </li>
            </ul>

            <ul>
                <li th:each="connection : ${unacceptedConnectionsFrom}">
                    <a th:href="@{/accounts/{id}(id=${connection.receiver.id})}">
                        <span th:text="${connection.receiver.name}">name</span>
                    </a> Odottaa käyttäjän hyväksyntää
                </li>
            </ul>

            <h2>Hyväksytyt yhteydet</h2>

            <ul>
                <li th:each="connection : ${acceptedConnectionsTo}">
                    <a th:href="@{/accounts/{id}(id=${connection.connecter.id})}">
                        <span th:text="${connection.connecter.name}">name</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li th:each="connection : ${acceptedConnectionsFrom}">
                    <a th:href="@{/accounts/{id}(id=${connection.receiver.id})}">
                        <span th:text="${connection.receiver.name}">name</span>
                    </a>
                </li>
            </ul>


            <p>
                <a th:href="@{/accounts}">Henkilölista</a>
            </p>

            <p>
                <a th:href="@{/messages}">Chatti</a>
            </p>

        </div>


    </body>
</html>
