<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <meta charset="UTF-8" />
        <title>Tervetuloa</title>
    </head>
    <body>

        <div sec:authorize="!isAuthenticated()">
            <h1>Tervetuloa!</h1>
        </div>

        <div sec:authorize="isAuthenticated()">
            <h1>Tervetuloa  <span sec:authentication="name">Username</span>!</h1>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Kirjaudu ulos"></input>
            </form>
        </div>

        <p>
            <a th:href="@{/login}">Kirjaudu sisään</a></li>
        </p>

        <p>
            <a th:href="@{/register}">Rekisteröidy</a></li>
        </p>

        <p>
            <a th:href="@{/accounts}">Henkilölista</a></li>
        </p>


    </body>
</html>
