<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Messages</title>
    </head>
    <body>
        <h1>Chatti</h1>

        <ul>
            <li th:each="message : ${messages}">
                <h3><span th:text="${message.content}">msg</span></h3>
                <span th:text="${message.writer}">writer</span>
                - <span th:text="${message.date}">date</span>
                - <span th:text="${message.likes}">likes</span> tykkäystä
                <form method="POST" th:action="@{/messages/{id}(id=${message.id})}">
                    <input type="submit" value="Tykkää!"/>
                </form>

            </li>
        </ul>


        <form th:action="@{/messages}" method="POST">
            <input name="message"></input>
            <input type="submit" value="Lisää viesti!"></input>
        </form>


        <p>
            <a th:href="@{/}">Oma sivu</a>
        </p>

    </body>
</html>
